<section class="order-details parent-container">
  <div class="div-row">
      <div class="control-group">
          <label class="control control--checkbox">
          {{#if orderedCustomer.fname}}
             <input type="checkbox" checked="true"/>
          {{else}}
              <input type="checkbox"/>
          {{/if}}

              <div class="control__indicator"></div>
          </label>
      </div>
      <span>Customer</span><div class="control-buttons right"><div class="add-btn" {{action "changeLeftWidget" "search-customer"}}>{{customerSign}}</div></div>
  </div>
  <div class="div-row">
      <div class="control-group">
          <label class="control control--checkbox">
              <input type="checkbox"/>
              <div class="control__indicator"></div>
          </label>
      </div>
      <span>Table</span><div class="control-buttons right"><div class="add-btn">+</div></div>
  </div>
    <div class="div-row">
        <div class="switch tiny left">
            <input id="collection" type="checkbox" class="left">
            <label for="collection" class="left"></label>
            <div class="switch-label left">Collection</div>
        </div>
    </div>
    <div class="div-row">
        <div class="switch tiny left">
            <input id="delivery" type="checkbox" class="left">
            <label for="delivery" class="left"></label>
            <div class="switch-label left">Delivery</div>
        </div>
    </div>
    <div class="div-row order-rates">
        <div>Tax</div>
        <div>00.00%</div>
    </div>
    <div class="div-row order-rates">
        <div>Discount</div>
        <div>00.00%</div>
    </div>
    <div class="div-row order-rates">
        <div>Delivery Charges</div>
        <div>00.00%</div>
    </div>
    <div class="div-row order-rates">
        <div>Sub Total</div>
        <div>LKR 200.00</div>
    </div>
    <div class="div-row">
        <div>Total</div>
        <div class="total">{{formatNumber total style="currency" currency="LKR"}}</div>
    </div>
    <div class="div-row">
        <div class="btn-order-detail"><button class="button-small">Send Order</button></div>
    </div>
    <div class="div-row">
        <div class="btn-order-detail"><button class="button-small"{{action "checkoutOrder" orderedCustomer}}>Checkout</button></div>
    </div>

    <div class="reveal" id="confirmOrder" data-reveal>
        <h1>Awesome. I Have It.</h1>
        <p class="lead">Your couch. It is mine.</p>
        <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</section>