<form>
    <div class="row form-line">
        <div class="columns">
            <label>
              {{components/customer/find-customers setFoundCustomer="setFoundCustomer"}}
            </label>
        </div>
    </div>
    <div class="row">
        <div class="columns">Name</div>
    </div>
    <div class="row form-line">
        <div class="medium-6 columns">
            <label>
              {{input value=customer.fname placeholder="First Name"}}
            </label>
        </div>
        <div class="medium-6 columns">
            <label>
              {{input value=customer.lname placeholder="Last Name"}}
            </label>
        </div>
    </div>
    <div class="row">
        <div class="columns">Address</div>
    </div>
    <div class="row form-line">
        <div class="columns">
            <label>
              {{input value=customer.address}}
            </label>
        </div>
    </div>
    <div class="row">
        <div class="columns">Password</div>
    </div>
    <div class="row form-line">
        <div class="columns">
            <label>
              {{input value=customer.password type="password"}}
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-6 columns">Door No</div>
        <div class="medium-6 columns">City</div>
    </div>
    <div class="row form-line">
        <div class="medium-6 columns">
            <label>
              {{input value=customer.doorno}}
            </label>
        </div>
        <div class="medium-6 columns">
            <label>
              {{input value=customer.city}}
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-6 columns">Postal Code</div>
        <div class="medium-6 columns">Email</div>
    </div>
    <div class="row form-line">
        <div class="medium-6 columns">
            <label>
              {{input value=customer.postalcode}}
            </label>
        </div>
        <div class="medium-6 columns">
            <label>
              {{input value=customer.email}}
            </label>
        </div>
    </div>

    <div class="row form-line">
        <div class="columns">
            {{#if customer.fname}}
                <button class="small button" {{action "addCustomer" customer }}>Add Customer</button>
            {{else}}
                <button class="small button alert" {{action "addCustomer" customer }}>New Customer</button>
            {{/if}}
        </div>
    </div>

</form>