<section class="select-large">
    <button>{{getMainItem}}</button>
    <ul class="select-dropdown">
      {{#each-in selectList as |item name|}}
          <li {{action "selectItem" item}}>{{name}}</li>
      {{/each-in}}
    </ul>
</section>

<div class="item-side-panel">
  {{#each categoryItemList as |catItem indx|}}
      <article class="food-side">
          <div class="food-desc">
              <div class="th food-image left">
                  <img src="img/rice.jpg" width="50px"/>
              </div>
              <div class="food-desc-price">{{formatNumber catItem.sellingPrice style="currency" currency="LKR"}}</div>
              <div class="food-desc-header">{{catItem.foodItem.itemName}}</div>
              <div>&nbsp;</div>
              <div class="food-desc-detail">{{catItem.foodItem.description}}</div>
          </div>
          <div class="food-add">
              <div class="control-buttons left"><div class="add-btn" {{action "addQtyChange" indx "add"}}>+</div></div>
              <div class="food-add-qty">{{formatNumber catItem.addedQty}}</div>
              <div class="control-buttons left"><div class="ded-btn" {{action "addQtyChange" indx "ded"}}>_</div></div>
              <div class="food-add-qty">{{formatNumber catItem.remainingQty}}</div>
              <button class="food-add-cart" {{action "addToCartItem" indx}} >Add to Cart</button>
              <div class="food-select"><div class="threedots-vert"></div></div>
          </div>
      </article>
  {{/each}}

</div>